<html>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<body> 
	<h1> Hello World! </h1>
	<canvas id="myChart"></canvas>
</body>

<script>
	var ctx = document.getElementById('myChart').getContext('2d');
	var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: {{varA}},
        datasets: [{
            label: 'Number of Commits per Repository',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: {{commits}}
        }]
    },

    // Configuration options go here
    options: {}
});	
</script>

</html>